Repository jbabin91/open-saas-kit: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      run: pnpm lint:fix
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true # Auto-stage Markdown fixes!
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true # Auto-stage Prettier fixes!

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

fix(ui): improve destructive color contrast for WCAG AA compliance
  packages/ui/src/components/ui/alert/alert.stories.tsx
  packages/ui/src/styles/theme.css
Due: typecheck, lint, format

bd daemon sync: 2026-01-22 18:05:36
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 18:05:40
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 18:10:49
  .beads/issues.jsonl
Due: none

fix(ui): improve toast action button contrast for WCAG AA
  packages/ui/src/components/ui/sonner/sonner.stories.tsx
  packages/ui/src/components/ui/sonner/sonner.tsx
Due: typecheck, lint, format

feat(ui): add custom toast theme colors for Sonner richColors
  packages/ui/src/components/ui/sonner/sonner.tsx
  packages/ui/src/styles/theme.css
Due: typecheck, lint, format

refactor(ui): simplify toast styling with classNames instead of richColors
  packages/ui/src/components/ui/sonner/sonner.tsx
  packages/ui/src/styles/theme.css
Due: typecheck, lint, format

refactor(ui): replace Sonner with React Aria Toast component
  packages/ui/src/components/ui/sonner/index.ts
  packages/ui/src/components/ui/sonner/sonner.tsx
  packages/ui/src/components/ui/toast/index.ts
  packages/ui/src/components/ui/toast/toast.stories.tsx
  packages/ui/src/components/ui/toast/toast.tsx
  packages/ui/src/index.ts
Due: typecheck, lint, format

fix(ui): improve toast close button visibility and alignment
  packages/ui/src/components/ui/toast/toast.tsx
Due: typecheck, lint, format

fix(ui): improve toast alignment and close button styling
  packages/ui/src/components/ui/toast/toast.tsx
Due: typecheck, lint, format

chore(deps): bump dependencies
  apps/web/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format

chore: testing terminal escape sequence with lefthook
  lefthook.yml
Due: none

bd daemon sync: 2026-01-23 13:41:41
  .beads/issues.jsonl
Due: none

feat(ui): add granular component exports for tree-shaking
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/tsdown.config.ts
  pnpm-lock.yaml
Due: typecheck, lint, format

refactor(config): reorganize rules into on-demand skills (#32)
  .claude/rules/components.md
  .claude/rules/git-hooks.md
  .claude/rules/markdown.md
  .claude/rules/storybook.md
  .claude/rules/typescript.md
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/storybook/SKILL.md
  .claude/skills/typescript/SKILL.md
  .claude/skills/zod/SKILL.md
Due: lint-md, format

bd daemon sync: 2026-01-25 19:47:24
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:49:58
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 19:51:55
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 20:02:04
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 20:02:10
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 20:15:58
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 20:45:51
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:19:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:20:00
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:20:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:20:32
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:45:58
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:46:05
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:46:21
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:46:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:51:37
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:52:22
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:55:28
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 21:58:22
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 22:00:47
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 22:06:08
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 22:06:42
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-25 22:26:59
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-26 00:47:47
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-26 00:49:05
  .beads/issues.jsonl
Due: none
