Repository jbabin91/open-saas-kit: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm lint:fix
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

docs: update git-hooks.md with beads/lefthook split
  .claude/rules/git-hooks.md
Due: lint-md, format

ci: add GitHub Actions CI workflow with composite actions
  .github/actions/setup/action.yml
  .github/actions/static-checks/action.yml
  .github/actions/test/action.yml
  .github/workflows/ci.yml
Due: none

ci: run test and build after static checks pass
  .github/workflows/ci.yml
Due: none

chore: add YAML to lefthook format hook and fix formatting
  .github/actions/test/action.yml
  lefthook.yml
Due: none

fix(ci): commit routeTree.gen.ts and fix typecheck dependencies
  .gitignore
  apps/web/src/routeTree.gen.ts
  turbo.json
Due: typecheck, lint, format

ci: install Playwright browsers for UI tests
  .github/actions/test/action.yml
Due: none

ci: report coverage without failing on thresholds
  .github/actions/test/action.yml
  packages/ui/vitest.config.ts
Due: typecheck, lint, format

ci: add Codecov coverage reporting
  .github/workflows/ci.yml
  codecov.yml
Due: none

chore: move codecov.yml to .github directory
  .github/codecov.yml
Due: none

ci: add CodeQL and dependency review workflows
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

fix(ci): run playwright install in correct package context
  .github/actions/test/action.yml
Due: none

ci: enable Turbo remote caching
  .github/workflows/ci.yml
Due: none

chore(deps): enable automerge by default with opt-out for sensitive packages
  .github/renovate.json
Due: format

fix(deps): resolve security vulnerabilities
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): resolve security vulnerabilities (#17)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): skip auto-assign for bot PRs (#18)
  .github/workflows/auto-assign.yml
Due: none

chore: add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-md, format

chore(deps): update Renovate config for conventions
  .github/renovate.json
Due: format

chore(deps): use conventional branch prefix for Renovate (#20)
  .github/renovate.json
Due: format

feat(ci): add Chromatic visual testing workflow
  .github/workflows/chromatic.yml
  packages/ui/chromatic.config.json
Due: format

feat(ui): add light/dark mode testing for Chromatic
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/modes.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: typecheck, lint, format

test(ui): add interaction tests for Button component
  packages/ui/src/components/ui/button/button.stories.tsx
Due: typecheck, lint, format

feat(ci): add Chromatic visual testing workflow (#21)
  .github/workflows/chromatic.yml
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/modes.ts
  packages/ui/.storybook/preview.ts
  packages/ui/chromatic.config.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: typecheck, lint, format

fix(ui): disable addon-themes toolbar toggle
  packages/ui/.storybook/preview.ts
Due: typecheck, lint, format

fix(ci): improve Chromatic baseline handling for PRs
  .github/workflows/chromatic.yml
Due: none

fix(ci): add dependabot to Chromatic skip pattern
  .github/workflows/chromatic.yml
  packages/ui/chromatic.config.json
Due: format

fix(ci): improve Chromatic baseline handling for PRs (#25)
  .github/workflows/chromatic.yml
  packages/ui/chromatic.config.json
Due: format

docs: add Storybook rules for story and config files
  .claude/rules/storybook.md
Due: lint-md, format

docs(storybook): add Chromatic parameters documentation
  .claude/rules/storybook.md
Due: lint-md, format

docs: add Storybook rules documentation (#26)
  .claude/rules/storybook.md
Due: lint-md, format

fix(config): correct sync-branch syntax in configuration file
  .beads/config.yaml
Due: none

chore(config): ignore .beads in prettier and eslint
  .claude/rules/code-style.md
  .prettierignore
  packages/eslint-config/base.js
Due: lint, lint-md, format

chore(config): ignore .beads in linters and formatters (#28)
  .claude/rules/code-style.md
  .prettierignore
  packages/eslint-config/base.js
Due: lint, lint-md, format

chore(deps): update dependencies
  apps/web/package.json
  packages/config/package.json
  packages/ui/.storybook/preview.ts
Due: typecheck, lint, format

bd daemon sync: 2026-01-22 17:46:20
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 17:46:33
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 17:46:34
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 17:46:39
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 17:48:41
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-22 17:54:47
  .beads/issues.jsonl
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
